{% extends 'accounts/base.html' %}

{% load static %}

{% block content %}



<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-12 col-lg-12 col-md-12">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-4" > </div>
              <div class="col-lg-4" >
                <div class="p-4">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                  </div>
                  <form action="" method="POST" class="user">

                    {% csrf_token %}

                    <div class="form-group">
                      <input type="text" name="user_name" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Username">
                    </div>
                    <div class="form-group">
                      <input type="password" name="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password">
                    </div>

                    <div class="form-group">
                      <div class="custom-control custom-checkbox small">

                        <input type="checkbox" class="custom-control-input" id="customCheck">
                        <label class="custom-control-label" for="customCheck">Remember Me</label>
                      </div>
                    </div>


                    <button class="btn btn-primary btn-user btn-block" type="submit">Sign In</button>

                    <hr>

                  </form>

                  <div class="text-center">
                    <a class="small" href="{% url 'password_reset' %}">Forgot Password?</a>
                  </div>
                  <div class="text-center">
                    <a class="small" href="{% url 'user_register' %}">Create an Account!</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4" > </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>





<!--    <form action="" method="POST">-->
<!--        {% csrf_token %}-->

<!--        <input type="text" name="user_name" placeholder="username"><br>-->
<!--        <input type="password" name="password" placeholder="password"><br>-->

<!--        <br>-->

<!--        <input type="checkbox" id="remember_me" name="remember_me" value="Remember Me">-->
<!--        <label for="remember_me"> Remember Me</label><br>-->

<!--        <div class="col-sm-offset-2">-->
<!--            <button class="btn btn-primary" type="submit">Sign In</button>-->
<!--            <a class="btn btn-info" href="password_reset">Forgot Password?</a>-->
<!--&lt;!&ndash;            <button class="btn btn-info" type="button">Forgot Password?</button>&ndash;&gt;-->
<!--        </div>-->

<!--&lt;!&ndash;        <input type="Forgot Password">&ndash;&gt;-->

<!--    </form>-->


    <div>
      {% for message in messages %}
      <h3> {{message}}</h3>
      {% endfor %}
    </div>
{% endblock %}
