{% extends 'accounts/base_home.html' %}

{% load static %}

{% block content %}


<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-12 col-lg-12 col-md-12">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-4" > </div>
              <div class="col-lg-4" >
                <div class="p-4">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                  </div>
                  <form action="" method="POST" class="user">

                        {% csrf_token %}
                        {% for field in login_form %}
                              <p>
                                  {{ field.label_tag }}
                                  {{ field }}

                                  {% if field.help_text  %}
                                      <small style="color: grey;">{{ field.help_text }}</small>
                                  {% endif %}
                              </p>
                        {% endfor %}

                        {% for field in login_form %}
                          <p>
                            {% for error in field.errors %}
                              <p style="color: red">{{ error }}</p>
                            {% endfor %}
                          </p>
                        {% endfor %}

                        {% if login_form.non_field_errors %}
                            <div style="color: red">
                              <p>{{login_form.non_field_errors}}</p>
                            </div>
                        {% endif %}

                        <input type="checkbox" id="remember_me" name="remember_me" value="Remember Me">
                        <label for="remember_me"> Remember Me</label><br>

                        <div class="col-sm-offset-2 float:right ">
                            <button class="btn btn-primary" type="submit">Sign In</button>

                        </div>

                    </form>

                  <div class="text-center">
                    <a class="small" href="{% url 'password_reset' %}">Forgot Password?</a>
                  </div>
                  <div class="text-center">
                    <a class="small" href="{% url 'user_register' %}">Create an Account!</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4" > </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
{% endblock %}
