{% extends 'base.html' %}

{% block content %}


<div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Product Category Listing </h1>
          <p class="mb-4">  </p>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
<!--            <div class="card-header py-3">-->
<!--              <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>-->
<!--            </div>-->
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                        <th>Category ID</th>
                        <th>Category Name</th>
                        <th>Details</th>
                        <th>Parent Category</th>
                        <th>Created At</th>
                        <th>Created By</th>
                        <th>Active</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                        <th>Category ID</th>
                        <th>Category Name</th>
                        <th>Details</th>
                        <th>Parent Category</th>
                        <th>Created At</th>
                        <th>Created By</th>
                        <th>Active</th>
                        <th>Update</th>
                        <th>Delete</th>

                    </tr>
                  </tfoot>
                  <tbody>
                    {% for category in categories %}
                    <tr>
                        <td>{{ category.id }}</td>
                        <td>{{ category.category_name }}</td>
                        <td>{{ category.details }}</td>
                        <td>{% if category.parent_id %}{{ category.parent_id.category_name }}{% endif %}</td>
                        <td>{{ category.created_at }}</td>
                        <td>{{ category.created_by }}</td>
                        <td>{{ category.active_status }}</td>
                        <td><small><a href="{% url 'category_update' category.pk %}">Edit</a></small></td>
                        <td><small><a href="{% url 'category_delete' category.pk %}">Delete</a></small></td>
                    </tr>
                    {% endfor %}

                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>

{% endblock %}