{% extends 'product/product_base.html' %}

{% block content %}

<!--{% load crispy_forms_tags %}-->
<div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Add Product</h1>
          <p class="mb-4">  </p>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-body">

    <form method="POST">

        {% csrf_token %}

        {{ form.as_p  }}

        <button type="submit">SUBMIT</button>
    </form>
            </div>
          </div>
</div>


{% endblock %}