{% extends 'base.html' %}

{% block content %}


<div class="container-fluid">

<!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Product Item Listing </h1>
    <p class="mb-4">  </p>

    <div class="row">
        <div class = "col">
            <div class ="card card-body form-group" >
                <form method="get">
                    {{product_item_filter.form}}
                    <button class="btn btn-sm btn-info" type="submit"> Search</button>
                    <a href="{%  url 'product_item_list' %}" class="btn btn-sm btn-info">Clear</a>
                </form>
            </div>
        </div>
    </div>
    <br>
    <div class="card shadow mb-4">
    <div class="card-body">
      <div class="table-responsive">
      <font face="Times New Roman " size="2">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
          <small>
            <tr>
                <th>SL</th>
                <th>Item Name</th>
                <th>QR Code</th>
                <th>Product Name</th>
                <th>Actual Cost</th>
                <th>Purchase Date</th>
                <th>Responsible Person</th>
                <th>Department</th>
                <th>Location</th>
                <th>Status</th>
                <th>Update</th>
                <th>Delete</th>
<!--                <th colspan="2" style="text-align:center">Action</th>-->


            </tr>
          </small>
          </thead>


          <tbody>
            {% for productitem in product_items %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ productitem.p_item_name }}</td>
                <td>{{ productitem.qr_code_key }}</td>
                <td>{{ productitem.product_id }}</td>
                <td>{{ productitem.actual_cost }}</td>
                <td>{{ productitem.purchase_date }}</td>
                <td>{{ productitem.responsible_employee_id }}</td>
                <td>{{ productitem.dept_id }}</td>
                <td>{{ productitem.location_id }}</td>
                <td>{{ productitem.status_id }}</td>

                <td><a href="{% url 'product_item_update' productitem.pk %}" class="btn btn-sm btn-info"><small>Edit</small></a></td>
                <td><a href="{% url 'product_item_delete' productitem.pk %}" class="btn btn-sm btn-danger"><small>Delete</small></a></td>

            </tr>
            {% endfor %}

          </tbody>
        </table>
      </font>
      </div>
    </div>
    </div>

    </div>
    <!-- /.container-fluid -->

</div>

{% endblock %}