{% extends 'base.html' %}

{% block content %}


<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Product Location Listing </h1>
  <p class="mb-4">  </p>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
<!--            <div class="card-header py-3">-->
<!--              <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>-->
<!--            </div>-->
    <div class="card-body">
      <div class="table-responsive">
          <font face="Times New Roman " size="2">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
                <th>SL</th>
                <th>Location Name</th>
                <th>Details</th>
                <th>Update</th>
                <th>Delete</th>

            </tr>
          </thead>

          <tbody>
            {% for location in locations %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ location.location_name }}</td>
                <td>{{ location.details }}</td>
                <td><a href="{% url 'product_location_update' location.pk %}" class="btn btn-sm btn-info" ><small>Edit</small></a></td>
                <td><a href="{% url 'product_location_delete' location.pk %}" class="btn btn-sm btn-danger" ><small>Delete</small></a></td>

            </tr>
            {% endfor %}

          </tbody>
        </table>
          </font>
      </div>
    </div>
  </div>

</div>
        <!-- /.container-fluid -->


{% endblock %}